<div class='parent'>
  <h2>Different options - with model</h2>
  <label for='hy'>You may need to setup different options (rules) for each container. For such setup you need to initialize each container separately. <b>Do not initialize same container twice!</b> In example bellow you can copy from left to right, but not otherwise. And from right container items can be removed on spill.</label>
  <div class='wrapper' ng-controller="DifferentOptionsModel">
    <div class='tableRow'>
      <div id="containerLeft" class='containerVertical'>
        <div ng-repeat="item in items1">{{item.content}}</div>
      </div>
      <div id="containerRight" class='containerVertical'>
        <div ng-repeat="item in items2">{{item.content}}</div>
      </div>
    </div>
    <div class="tableRow">
      <div class='containerVertical'>
        <pre>Items1:
          <br/>{{items1 | json}}</pre>
      </div>
      <div class='containerVertical'>
        <pre>Items2:
          <br/>{{items2 | json}}</pre>
      </div>
    </div>
  </div>
  <pre>
        <code>
// JS
  .controller('DifferentOptionsModel', ['$scope', '$element', 'dragularService', function TodoCtrl($scope, $element, dragularService) {
    $scope.items1 = [{
      content: 'Move me, but you can only drop me in one of these containers.'
    }, {
      content: 'If you try to drop me somewhere other than these containers, I\'ll just come back.'
    }, {
      content: 'Item 3'
    }, {
      content: 'Item 4'
    }];
    $scope.items2 = [{
      content: 'Item 5'
    }, {
      content: 'Item 6'
    }, {
      content: 'Item 7'
    }, {
      content: 'Item 8'
    }];

    var containerLeft = document.querySelector('#containerLeft'),
      containerRight = document.querySelector('#containerRight');

    function accepts(el, target, source) {
      if (source === containerLeft || source === target) {
        return true;
      }
    }

    dragularService([containerLeft], {
      containersModel: [$scope.items1],
      copy: true,
      //move only from left to right  
      accepts: accepts
    });

    dragularService([containerRight], {
      containersModel: [$scope.items2],
      removeOnSpill: true,
      //move only from left to right  
      accepts: accepts
    });

  }])
        </code>
        <code>
&lt;!-- HTML --&gt;
&lt;div class='wrapper' ng-controller=&quot;DifferentOptionsModel&quot;&gt;
    &lt;div class='tableRow'&gt;
      &lt;div id=&quot;containerLeft&quot; class='containerVertical'&gt;
        &lt;div ng-repeat=&quot;item in items1&quot;&gt;{{item.content}}&lt;/div&gt;
      &lt;/div&gt;
      &lt;div id=&quot;containerRight&quot; class='containerVertical'&gt;
        &lt;div ng-repeat=&quot;item in items2&quot;&gt;{{item.content}}&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tableRow&quot;&gt;
      &lt;div class='containerVertical'&gt;
        &lt;pre&gt;Items1:
          &lt;br/&gt;{{items1 | json}}&lt;/pre&gt;
      &lt;/div&gt;
      &lt;div class='containerVertical'&gt;
        &lt;pre&gt;Items2:
          &lt;br/&gt;{{items2 | json}}&lt;/pre&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
        </code>
      </pre>
</div>
